.campaingCompany {
  background: #ffffff;
  border-radius: 20px;
  margin: 2%;
  padding: 1.5%;
  height: 100%;
  min-height: 75vh;
  h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #333269;
    margin: 0 0 18px 0;
  }
}
